.Post{
    width: 385px;
    margin: 0px 12px 40px 25px;
}

.postImage{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 7px;
}

.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postDesc{
    font-family: sans-serif;
    font-size: 14px;
    color: grey;
    line-height: 24px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}