.Header{
    margin-top: 60px;
}

.headerTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(115, 160, 12);
    font-size: 80px;
}

.headerImg{
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
}

